In [1]:
import pandas as pd

df = pd.read_csv("titanic3.csv",sep=";")

df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29,0.0,0.0,24160,"211,3375",B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,"0,9167",1.0,2.0,113781,"151,5500",C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2,1.0,2.0,113781,"151,5500",C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30,1.0,2.0,113781,"151,5500",C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1.0,2.0,113781,"151,5500",C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [2]:
#1.1
totalPassageiros = len(df)

print(f'O arquivo tem {totalPassageiros} linhas de dados.')

O arquivo tem 1310 linhas de dados.

In [3]:
#1.2
sobreviventes = (df['survived'] == 1).sum()
percentualSobreviventes = (df['survived'] == 1).sum()/totalPassageiros*100
percentualObitos = (df['survived'] == 0).sum()/totalPassageiros*100

print(f'% sobreviventes: {percentualSobreviventes}')
print(f'% obitos: {percentualObitos}')

% sobreviventes: 38.16793893129771
% obitos: 61.7557251908397

In [4]:
#1.3
colunasAusentes = df.count() * 100 / 1309
print(colunasAusentes)

pclass       100.000000
survived     100.000000
name         100.000000
sex          100.000000
age           79.908327
sibsp        100.000000
parch        100.000000
ticket       100.000000
fare          99.923606
cabin         22.536287
embarked      99.847212
boat          37.127578
body           9.243697
home.dest     56.913675
dtype: float64